.containerClass {
  background: linear-gradient(#f5cbab, #ffc371);
  height: 100vh;
  overflow: scroll;
}
.loginImg {
  width: 100%;
  max-width: 500px;
  height: 510px;
}
.login {
  margin-top: 10px;
}
.loginHeader {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 50px;
  color: #535353;
  margin-top: 40px;
}
.button {
  max-width: 150px;
  width: 100%;
  max-height: 45px;
  height: 100%;
  border: 1px solid#525252;
  font-size: 16px;
  font-weight: 900;
  font-family: Cooper Black;
  letter-spacing: 2px;
  border-radius: 10px;
  color: white;
  background-color: #525252;
}
